@import url('https://fonts.googleapis.com/css?family=Roboto');
html,
body {
    width: 100%;
    height: 100%;
    font-family: "Roboto";
}

body {
    background-color: #000000;
    margin: 0;
    overflow: hidden;
    /*font-family: Comic;*/
}

.aggettivi {
    display: inline;
    width: 100px;
    height: 100px;
}

/*#blankOverlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #000000;
    text-align: center;
    font-size: 46px;
    /*display: none;
}*/

#blocker {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0.3, 0.0);
}

.instructions {
    display: none;
    text-align: center;
    width: 100%;
    color: white;
}

/*#instructions {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    color: #EEEEEE;
    text-align: center;
    cursor: pointer;
}*/

.bwrap {
    margin: 0.5em 0 0 0
}

#controls {
    color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 3px;
}


/* Overlay style */

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #049;
    display: none;
    color: white;
    z-index: 10;
}

.overlay.open {
    display: block;
}

.search_panel {
    display: none;
    width: 100%;
    height: 90%;
}

.toggle_panel {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.toggle_panel:hover {
    background-color: white;
    color: #049;
    cursor: pointer;
}

.recent_panel {
    display: none;
    width: 100%;
    height: 100%;
}

.recent {
    overflow-y: scroll;
    height: 80%;
}

.result #playCount {
    position: absolute;
    right: 20px;
    top: 40%;
}


.search_results {
    /*border-top: 1px solid white;*/
    /*text-align: left;*/
}

.search_title {
    text-align: center;
    width: 100%;
    font-size: 48px;
}

.recent_title {
    text-align: center;
    width: 100%;
    font-size: 48px;
}

.result .info {
    /*color: white;*/
    display: inline-block;
}

.result {
    padding: 10px;
    position: relative;
}

.sort {
    display: none;
    position: absolute;
    top: 50px;
    left: 80%;
    padding: 10px;
}

.sort h4 {
    display: inline;
}

.sort:hover {
    cursor: pointer;
    background-color: white;
    color: #049;
}

.result:hover {
    cursor: pointer;
    /*border: 1px solid white;*/
    background-color: white;
    color: #049;
}

.search_results h2,
.recent h2 {
    /*color: white;*/
    /*display: inline-block;*/
    margin-top: 0;
}

.search_results h4,
.recent h4 {
    /*color: white;*/
    /*display: inline-block;*/
    margin-bottom: 0;
}

.search_results img,
.recent img {
    vertical-align: top;
    margin-right: 10px;
    /*margin: 10px;*/
}

#search_query {
    position: absolute;
    top: 40%;
    left: 20%;
    width: 60%;
    text-align: center;
    border: none;
    border-color: transparent;
    background: rgba(155, 155, 155, 0);
    color: #fff;
    font-size: 40px;
    margin: 20px;
    border-bottom: 1px solid white;
}

#search_query:focus {
    outline: none;
}

#search_query::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #999;
}

#search_query::-moz-placeholder {
    /* Firefox 19+ */
    color: #999;
}

#search_query:-ms-input-placeholder {
    /* IE 10+ */
    color: #999;
}

#search_query:-moz-placeholder {
    /* Firefox 18- */
    color: #999;
}

.active {
    display: block !important;
}

.close_btn {
    font-size: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
/*    -webkit-transition: font-size .5s, top .5s, right .5s;
    transition: font-size .5s, top .5s, right .5s;*/
}

.close_btn:hover {
    cursor: pointer;
    font-size: 40px;
    top: 5px;
    right: 5px;
}
/*
c://documents/index.html
localhost/index.html

var fr = new FileReader();*/
