@import url('https://fonts.googleapis.com/css?family=Roboto');
html,
body {
    width: 100%;
    height: 100%;
    font-family: "Roboto";
}

body {
    background-color: #000000;
    margin: 0;
    overflow: hidden;
    /*font-family: Comic;*/
}

canvas {
    position: absolute;
    top: 0;
}

#blocker {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0.3, 0.0);
}

.instructions {
    display: none;
    text-align: center;
    width: 100%;
    color: white;
}


/*#instructions {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    color: #EEEEEE;
    text-align: center;
    cursor: pointer;
}*/

.bwrap {
    margin: 0.5em 0 0 0
}

#controls {
    color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 3px;
}



/* Overlay style */

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #049;
    display: none;
    color: white;
    z-index: 10;
}

.overlay.open {
    display: block;
}

.search_panel {
    display: none;
    width: 100%;
    height: 90%;
}

.toggle_panel {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.toggle_panel:hover {
    background-color: white;
    color: #049;
    cursor: pointer;
}

.recent_panel {
    display: none;
    width: 100%;
    height: 100%;
}

.recent {
    overflow-y: scroll;
    height: 80%;
}

.result #playCount {
    position: absolute;
    right: 20px;
    top: 40%;
}


.search_results {
    /*border-top: 1px solid white;*/
    /*text-align: left;*/
}

.search_title {
    text-align: center;
    width: 100%;
    font-size: 48px;
}

.recent_title {
    text-align: center;
    width: 100%;
    font-size: 48px;
}

.result .info {
    /*color: white;*/
    display: inline-block;
}

.result {
    padding: 10px;
    position: relative;
}

.sort {
    display: none;
    position: absolute;
    top: 50px;
    left: 80%;
    padding: 10px;
}

.sort h4 {
    display: inline;
}

.sort:hover {
    cursor: pointer;
    background-color: white;
    color: #049;
}

.result:hover {
    cursor: pointer;
    /*border: 1px solid white;*/
    background-color: white;
    color: #049;
}

.search_results h2,
.recent h2 {
    /*color: white;*/
    /*display: inline-block;*/
    margin-top: 0;
}

.search_results h4,
.recent h4 {
    /*color: white;*/
    /*display: inline-block;*/
    margin-bottom: 0;
}

.search_results img,
.recent img {
    vertical-align: top;
    margin-right: 10px;
    /*margin: 10px;*/
}

#search_query {
    position: absolute;
    top: 40%;
    left: 20%;
    width: 60%;
    text-align: center;
    border: none;
    border-color: transparent;
    background: rgba(155, 155, 155, 0);
    color: #fff;
    font-size: 40px;
    margin: 20px;
    border-bottom: 1px solid white;
}

#search_query:focus {
    outline: none;
}

#search_query::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #999;
}

#search_query::-moz-placeholder {
    /* Firefox 19+ */
    color: #999;
}

#search_query:-ms-input-placeholder {
    /* IE 10+ */
    color: #999;
}

#search_query:-moz-placeholder {
    /* Firefox 18- */
    color: #999;
}

.active {
    display: block !important;
}

.close_btn {
    font-size: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    /*    -webkit-transition: font-size .5s, top .5s, right .5s;
    transition: font-size .5s, top .5s, right .5s;*/
}

.close_btn:hover {
    cursor: pointer;
    font-size: 40px;
    top: 5px;
    right: 5px;
}


/*
c://documents/index.html
localhost/index.html

var fr = new FileReader();*/


/* LOADING */

@keyframes clignote {
    0% {
        opacity: .2;
    }
    50% {
        opacity: .8;
    }
    100% {
        opacity: .2;
    }
}

@-webkit-keyframes load {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.loading {
    display: none;
    z-index: 2;
    background-color: rgba(0, 0, 0, .2);
    position: absolute;
    margin: 6em 2em;
    font-size: 1em;
    border-top: 1.1em solid #286090;
    border-right: 1.1em solid rgba(0, 0, 0, 0);
    border-bottom: 1.1em solid #286090;
    border-left: 1.1em solid rgba(0, 0, 0, 0);
    -webkit-animation: load 4.6s infinite linear;
    animation: load 4.6s infinite linear;
    /*position: relative;*/
    border-radius: 50%;
    width: 10em;
    height: 10em;
    top: 50%;
    margin-top: -5em;
    left: 50%;
    margin-left: -5em;
}

.loading p {
    position: absolute;
    content: '';
    margin: auto;
    top: .1em;
    left: .1em;
    right: .1em;
    bottom: .1em;
    line-height: 10em;
    text-align: center;
    color: #fff;
    border: 0;
    margin: 0;
    padding: 0;
    -webkit-animation: load 5.6s infinite linear reverse, clignote 1.6s infinite linear;
    animation: load 4.6s infinite linear reverse, clignote 1.6s infinite linear;
}

.loading:before {
    position: absolute;
    display: block;
    content: '';
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: .8em;
    text-align: center;
    border-top: 1.1em solid #407CAD;
    border-right: 1.1em solid rgba(0, 0, 0, 0);
    border-bottom: 1.1em solid #407CAD;
    border-left: 1.1em solid rgba(0, 0, 0, 0);
    -webkit-animation: load 3.6s infinite linear;
    animation: load 3.6s infinite linear;
    border-radius: 50%;
}

.loading:after {
    position: absolute;
    display: block;
    content: '';
    top: 1.1em;
    left: 1.1em;
    right: 1.1em;
    bottom: 1.1em;
    font-size: .8em;
    text-align: center;
    border-top: 1.1em solid #72ABDB;
    border-right: 1.1em solid rgba(0, 0, 0, 0);
    border-bottom: 1.1em solid #72ABDB;
    border-left: 1.1em solid rgba(0, 0, 0, 0);
    border-radius: 50%;
    -webkit-animation: load 1.6s infinite linear;
    animation: load 1.6s infinite linear;
}
.no-support {
    position: absolute;
    text-align: center;
    display: none;
    top: 30%;
}

.no-support a:visited {
    font-size: 30px;
    text-decoration: none;
    color: green;
}

.no-support a {
    /*width: 20%;*/
    display: inline-block;
    margin-top: 20px;
    padding: 15px 10px;
    border: 2px solid green;
    font-size: 30px;
    text-decoration: none;
}
