<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Daniel Gillies</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7COpen+Sans" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/resume.css" />
    <!--[if lt IE 9]>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv-printshiv.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-102721545-1', 'auto');
  ga('send', 'pageview');

</script>
</head>

<body>
    <div class="btn dl-btn download">
        <a href="resume.pdf">Download PDF</a>
    </div>
    <div class="main-wrap">
        <header class="header">
            <h1>Daniel Gillies</h1>
            <h3 class="label">Software Engineer</h3>
            <ul id="contact" class="contact-list list-lines">
                <li class="contact-header">(845) 825-1645</li>
                <li class="contact-header">gillies.daniel@gmail.com</li>
                <li class="contact-header"><a href="//dannoldg.com">dannoldg.com</a></li>
            </ul>
            <ul id="profiles" class="profiles-list list-set">
                <li><a href="https:&#x2F;&#x2F;github.com&#x2F;DanielGillies" target="_blank" class="profile" title="Github"><i class="fa fa-github"></i><span class="profile-name">Github</span></a></li>
                <li><a href="https:&#x2F;&#x2F;linkedin.com&#x2F;in&#x2F;danielgillies1" target="_blank" class="profile" title="Linkedin"><i class="fa fa-linkedin"></i><span class="profile-name">Linked In</span></a></li>
            </ul>
        </header>
        <main role="main" class="main">
            <section id="about" class="section">
                <h2><i class="fa fa-user left"></i>About</h2>
                <p>Born and raised in New York, moved to the West Coast for new experiences. Travelled to compete in video games and now working as a software engineer.</p>
            </section>
            <section id="work" class="section">
                <h2><i class="fa fa-suitcase left"></i>Work Experience</h2>
                <section class="section-sub section-sub-job">
                    <h3>Game Developer, Elevate Labs</h3>
                    <h4>October 2016 - Present</h4>
                    <p>Elevate is a new type of cognitive training tool designed to build communication and analytical skills.</p>
                    <h4>Highlights</h4>
                    <ul>
                        <li>Designed and built prototypes for new exercises.</li>
                        <li>Modified existing games to account for new IPhone X resolution.</li>
                    </ul>
                </section>
                <section class="section-sub section-sub-job">
                    <h3>Game Developer, Piper</h3>
                    <h4>October 2016 - July 2017</h4>
                    <p>Piper makes a build-it-yourself computer kit for kids using a Raspberry Pi. It runs a 3D game we made to teach kids about STEM topics with a voxel engine.</p>
                    <h4>Highlights</h4>
                    <ul>
                        <li>Designed and Developed music sequencer level with full drum kit and one octave with recording functionality and dynamic length/bpm.</li>
                        <li>Built a GUI system using PyQt to control level selection, updating, wifi selection, language settings, volume settings, and ingame HUD.</li>
                        <li>Created sound and video utilities to allow for easy playing of audio and video.</li>
                        <li>Modified pieces of Irrlicht Engine and Minetest to add custom support for special Lua API calls,  such as releasing mouse control from the game.</li>
                        <li>Built out multiple Lua scripts to modify how Minetest is played to suit our needs for Piper.</li>
                        <li>Implemented a mini-game level with simple pathfinding on a grid system to ensure that the programmatically generated level was beatable.</li>
                    </ul>
                </section>
                <section class="section-sub section-sub-job">
                    <h3>Lead Experience Engineer, Skully</h3>
                    <h4>February 2015 - July 2016</h4>
                    <p>Skully is a hardware company manufacturing motorcycle helmets with a heads-up display that features a 180 degree rear-view camera and gps.</p>
                    <h4>Highlights</h4>
                    <ul>
                        <li>Built a Three.js/WebGL VR experience of our helmet to be used on a phone with a local webserver hosting the experience.</li>
                        <li>Designed and implemented the VR experience in Unity to be deployed as a standalone app for iOS and Android, working with Google Cardboard and Gear VR.</li>
                    </ul>
                </section>
                <section class="section-sub section-sub-job">
                    <h3>Software Developer, Skully</h3>
                    <h4>July 2015 - February 2016</h4>
                    <h4>Highlights</h4>
                    <ul>
                        <li>Built website using handlebars.js for templating and html/css/javascript for frontend, using Bootstrap 3 for responsiveness.</li>
                        <li>Implemented an NGINX server on a Docker image for easy testing and deployment to AWS Elastic Beanstalk.</li>
                        <li>Designed a workflow using Gulp.js to build minified source files, compress images/videos, compile handlebars templates, build docker image, and deploy to AWS.</li>
                        <li>Implemented eCommerce solutions, and was featured by Shopify for implementation of their “Add to Cart button" swapping.</li>
                    </ul>
                </section>
                <!--                 <section class="section-sub section-sub-job">
                    <h3>Computer Science Tutor, InstaEDU</h3>
                    <h4>October 2014 - Present</h4>
                    <p>InstaEDU is an online help center for students needing tutoring. It easily and quickly connects students and educators.</p>
                    <h4>Highlights</h4>
                    <ul>
                        <li>Online tutor for computer science, programming, web development, Spanish, and mathematics</li>
                    </ul>
                </section> -->
                <section class="section-sub section-sub-job">
                    <h3>Software Engineering Intern, Kinetech Arts &#x2F; Kineviz Studios</h3>
                    <h4>February 2015 - June 2015</h4>
                    <p>Kineviz is a data visualization company that uses interactive demos and art to help display data in a more meaningful way.</p>
                    <h4>Highlights</h4>
                    <ul>
                        <li>Created a full-stack web application to visualize tweets and audio data in a 3D world using Node.js, Three.js, Physi.js, and WebGL.</li>
                        <li>Integrated support for Oculus Rift, Wii Balance Board for movement, and Microsoft Kinect.</li>
                        <li>Designed and built server architecture to allow for tweets to be pulled into the 3D scene in real time with specific hashtags.</li>
                        <li>Presented the project for Autodesk&#39;s 3D Webfest 2015 (<a href="https://youtu.be/fiS3NBZRY44?t=1605">Video</a>)</li>
                        <li>Project can be viewed here: (<a href="http://vrdatalandscape.com">vrdatalandscape.com</a>)</li>
                    </ul>
                </section>
            </section>
            
            <section id="skills" class="section">
                <h2><i class="fa fa-tasks left"></i>Skills</h2>
                <section class="section-sub section-sub-skill">
                    <h3 class="skills">Web Development</h3>
                    <ul class="list-set keywords">
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>Javascript</li>
                        <li>JQuery</li>
                        <li>node.js</li>
                        <li>Babylon.js</li>
                        <li>MongoDB</li>
                        <li>Three.js</li>
                        <li>nginx</li>
                        <li>AWS</li>
                    </ul>
                </section>
                <!--                 <section class="section-sub section-sub-skill">
                    <h3 class="skills">eCommerce Solutions</h3>
                    <ul class="list-set keywords">
                        <li>Shopify</li>
                        <li>FoxyCart</li>
                        <li>SnipCart</li>
                        <li>Cartloom</li>
                        <li>Americommerce/Sparkpay</li>
                        <li>3dCart</li>
                        <li>Affirm</li>
                    </ul>
                </section> -->
                <section class="section-sub section-sub-skill">
                    <h3 class="skills">Work Flow</h3>
                    <ul class="list-set keywords">
                        <li>Gulp.js</li>
                        <li>Bash</li>
                        <li>Docker</li>
                        <li>JIRA</li>
                        <li>Git</li>
                    </ul>
                </section>
                <section class="section-sub section-sub-skill">
                    <h3 class="skills">Programming Languages</h3>
                    <ul class="list-set keywords">
                        <li>Java</li>
                        <li>C</li>
                        <li>Javascript</li>
                        <li>C#</li>
                        <li>C++</li>
                        <li>Python</li>
                        <li>Lua</li>
                    </ul>
                </section>
                <section class="section-sub section-sub-skill">
                    <h3 class="skills">Video games</h3>
                    <ul class="list-set keywords">
                        <li>Unreal Engine 4</li>
                        <li>Unity 3D</li>
                        <li>Virtual Reality</li>
                        <li>Playing</li>
                    </ul>
                </section>
            </section>
            <section id="education" class="section">
                <h2><i class="fa fa-graduation-cap left"></i>Education</h2>
                <section class="section-sub section-sub-education">
                    <h3>Bachelor of Science - University of San Francisco</h3>
                    <h4>August 2013 - May 2015</h4>
                    <p>Computer Science</p>
                </section>
                <section class="section-sub section-sub-education">
                    <h3>Bachelor of Science - Marist College</h3>
                    <h4>August 2011 - May 2013</h4>
                    <p>Computer Science with Game Programming concentration</p>
                </section>
            </section>
            <section id="awards" class="section">
                <h2><i class="fa fa-trophy left"></i>Awards</h2>
                <section class="section-sub section-sub-award">
                    <h3>3D Webfest Recognized Project - Autodesk</h3>
                    <h4> May 2015</h4>
                    <p>Built a <a href="http://vrdatalandscape.com/" target="_blank">WebGL application</a> to visualize twitter and audio data in an artistic manner. The project was put on display at Autodesk&#39;s 3D Webfest.</p>
                </section>
                <section class="section-sub section-sub-award">
                    <h3>Electronic Sports World Cup - ESWC</h3>
                    <h4> October 2014</h4>
                    <p>Qualified to represent North America in an international LAN event in Paris, France for the title of world champion.</p>
                </section>
                <section class="section-sub section-sub-award">
                    <h3>1st Place, PAX East 2014 - Ubisoft</h3>
                    <h4> March 2013</h4>
                    <p>Won the PAX East open qualifier for the IGN Pro League Season 6 championships with a prize pool of $100,000.</p>
                </section>
                <section class="section-sub section-sub-award">
                    <h3>Shootmania Launch Tournament - Ubisoft</h3>
                    <h4> April 2014</h4>
                    <p>Qualified to be flown out to San Francisco, CA to compete in a top-16 event for $100,000 and the title of world champion.</p>
                </section>
            </section>
            <section id="references" class="section">
                <h2><i class="fa fa-thumbs-up left"></i>References</h2>
                <h4>Phone numbers available upon request</h4>
                <!--                     <blockquote> -->
                <!--                                <h>Professional References> -->
                <h3>Donald Burlock, Creative Director</h3>
                <h4 class="m0">burlock9225@gmail.com</h4>
                <!-- <h4 class="m0">317-213-1510</h4> -->
                <h3>Josh Bloom, VP of Product</h3>
                <h4 class="m0">joshbloom@gmail.com</h4>
                <!-- <h4 class="m0">415-823-8271 </h4> -->
                <!--                         <h3>Available Upon Request</h3> -->
                <!--                     </blockquote> -->
            </section>
        </main>
    </div>
    <script type="text/javascript" src="assets/resume.js"></script>
</body>

</html>