body {
    font-size: 62.5%;
    font-family: "Montserrat", sans-serif;
    background-color: #E6E6E7;
    color: #0B10F5;
}

.main-wrap {
    max-width: 960px;
    margin: 0 auto;
}

a {
    color: #1B85F5;
    text-decoration: none;
    -webkit-transition: color 0.175s ease 0.05s;
    -moz-transition: color 0.175s ease 0.05s;
    transition: color 0.175s ease 0.05s;
}

a:visited {
    color: #1B85F5;
}

a:hover,
a:focus {
    color: #0D3E72;
    text-decoration: none;
}

.download {
    position: fixed;
    top: 5px;
    right: 5px;
    font-size: 1.6em;

}

.btn {
    padding: 5px 8px;
    border: 1px solid #1B85F5;
    border-radius: 5px;
    background-color: rgba(0,0,0,0);
    -webkit-transition: all 0.175s ease 0.05s;
    -moz-transition: all 0.175s ease 0.05s;
    transition: all 0.175s ease 0.05s;
}

.btn a {
    color: #1B85F5;
}

.btn:hover {
    background-color: #1B85F5;

}

.btn:hover a {
    color: #E6E6E7;
}

.header {
    text-align: center;
    font-size: 2em;
    margin: 0 10%;
}

.section {
    margin-bottom: 5em;
}

.section .fa.left {
    margin-right: 0.25em;
}

h1 {
    color: #424144;
    font-size: 3em;
    margin: 1em 0 0;
    text-transform: uppercase;
}

h2 {
    font-size: 3.5em;
    margin: 0.35em 0;
    text-transform: uppercase;
}

h3 {
    color: #424144;
    font-size: 2.3em;
    margin: 1em 0 0;
}

h4 {
    color: #424144;
    font-size: 1.6em;
    margin: 0 0 1em;
}

.profile {
    font-family: "Montserrat";
    font-size: 1em;
    margin: 0;
}

.profile-name {
    display: none;
}

.contact-header {
    font-weight: bold;
}

.contact-list li,
.contact-list a {
    color: #424144;
}

.label {
    margin-top: 0;
    margin-bottom: 1em;
}

.fa {
    font-size: 2em;
}

.left {
    font-size: 1em;
}

.main {
    margin: 0 10%;
}

.skills {
    margin-bottom: 0.5em;
}

p {
    color: #535356;
    font-family: "Open Sans";
    font-size: 1.5em;
    font-weight: bold;
}

li {
    color: #535356;
    font-family: "Open Sans";
    font-size: 1.5em;
    font-weight: bold;
}

.list-lines,
.list-lines li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list-lines li {
    font-family: "Montserrat";
    font-size: 1em;
}

.list-set,
.list-set li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list-set li {
    font-family: "Montserrat";
    display: inline-block;
}

.list-set li a {
    display: inline-block;
}

.list-set li .fa {
    min-width: 1em;
    min-height: 1em;
}


/*Minor adjustment to icons.*/

.list-set li .fa-stack-overflow:before {
    font-size: 0.9em;
    position: relative;
    top: -0.05em;
}

.list-set.keywords li {
    background-color: #444444;
    color: #eeeeee;
    padding: 0.5em;
    font-size: 1.2em;
    display: inline-block;
    margin: 0.1em 0;
}

.profiles-list {
    margin-top: 1em;
}

blockquote {
    margin: 2em 1em;
    padding: 1em;
    border-left: 0.75em solid #666666;
    font-family: "Open Sans";
    font-size: 1.5em;
}

blockquote .name {
    font-weight: bold;
    font-family: "Montserrat";
    margin-top: 1em;
}

::-moz-selection {
    background: #666666;
}

::selection {
    background: #666666;
}

.m0 {
    margin: 0;
}

.contact-header a:hover {
    color: #1B85F5
}

@media (max-width: 768px) {
    body {
        font-size: 50%;
    }
    .header {
        margin: 0 5%;
    }
    .main {
        margin: 0 5%;
    }
}

@media print {
    body {
        font-family: Helvetica !important;
    }

    * {
        -webkit-transition: none !important;
        transition: none !important;
    }

    .profile {
        font-family: Helvetica !important;
    }

    #profiles {
        display: none;
    }
    h1 {
        font-size: 20px;
    }
    h3 {
        font-size: 16px;
        margin-top: 20px;
    }
    .label {
        margin-bottom: 10px;
    }
    h2 {
        font-size: 18px;
    }
    p li {
        font-size: 12px;
    }
    h4 {
        font-size: 14px;
    }
    ul {
        margin: 3px;
    }
    body {
        background: #FFFFFF;
        color: #171717;
    }
    .main-wrap {
        width: 100%;
    }
    .main {
        margin: 0;
    }
    .section {
        margin-bottom: 15px;
    }
    .section-sub {
        page-break-inside: avoid;
    }
    .main .section:last-child {
        margin-bottom: 0;
    }
    a {
        color: #555555;
    }
    a:visited {
        color: #555555;
    }
    a:hover,
    a:focus {
        color: #555555;
    }
    h1 {
        color: #111111;
        margin-top: 0.5em;
    }
    h2 {
        margin: 0.25em 0;
    }
    h3 {
        color: #121212;
        margin-bottom: 5px;
    }
    h4 {
        color: #888888;
        margin-bottom: 5px;
    }
    .contact-list li,
    .contact-list a {
        color: #111111;
    }
    p {
        color: #333333;
        margin: 2px;
        font-family: Helvetica !important;
    }
    li {
        color: #444444;
        margin: 2px;
        font-family: Helvetica !important;
    }
    .list-set.keywords li {
        background-color: transparent;
        color: #555555;
        border: 1px solid #aaaaaa;
    }
    blockquote {
        border-color: #999999;
    }

    blockquote .name {
        font-family: Helvetica !important;
    }

    * {
        /*Avoid printing the color at the start of the transition (Chrome issue).*/
        -webkit-transition: none !important;
        -moz-transition: none !important;
        transition: none !important;
    }
    #references {
        text-align: center;
    }

    .download {
        display: none;
    }

    .list-set li {
        font-family: Helvetica !important;
    }

    .list-lines li {
        font-family: Helvetica !important;
    }
    
    blockquote {
        font-family: Helvetica !important;
    }
}